$header-color:#FF6801;
$discount-bgcolor:red;
$Sostenibility:rgb(13, 206, 13);
$image-p-color:white;

@mixin container{
    margin: 0 auto;
    width: 1000px;
}
@mixin row{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
}